<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3>Create a New Workout</h3>
        <form class="form new-workout-form">
          <div class="form-group">
            <label for="workout-name">Workout Name:</label>
            <input class="form-control" type="text" id="workout-name" name="workout-name" />
          </div>
          <div class="form-group">
            <label for="workout-reps">Reps:</label>
            <input class="form-control" type="number" id="workout-reps" name="workout-reps" />
          </div>
          <div class="form-group">
            <label for="workout-sets">Sets:</label>
            <input class="form-control" type="number" id="workout-sets" name="workout-sets" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{#if workouts.length}}
  <div class="col-md-6 workout-list">
    <h3>Current Workouts</h3>
    {{#each workouts as |workout|}}
    <div class="card mb-3">
      <div class="card-body">
        <h4><a href="/workout/{{workout.id}}">{{workout.name}}</a></h4>
        <p><strong>Reps:</strong> {{workout.reps}}</p>
        <p><strong>Sets:</strong> {{workout.sets}}</p>
        <button class="btn btn-sm btn-danger" data-id="{{workout.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./javascript/profile.js"></script>
